.contenedor {
    width: 30%;
    height: 30%;
 background-color: white; 
 border: solid;
 border-color: black;
 display: flex; 
 flex-direction: column; 
 align-content: center;
 align-items: flex-end;
 justify-content: center;
 margin-left: 35%;
 
 
 
 
}

.item1 {
    background-color: red;
    width: 200px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    color: white;
}

.item2 {
    background-color: blue;
    width: 200px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    color: white;
}

.item3 {
    background-color:green;
    width: 200px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    color: white;
}